/*
 * Developed by Nerdshouse Technologies LLP — https://nerdshouse.com
 * © 2026 WhiteRock (Royal Enterprise). All rights reserved.
 *
 * Unauthorized copying, modification, or distribution is strictly prohibited.
 */

@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}
